@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
font-family: "Poppins", sans-serif;

}

body{
    overflow: hidden;
    

}

.background{
    background: linear-gradient(rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5));
    background-image: url();
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-color: #40573c;
   

}


header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer; 
}

.cabeçalho-link a{
    color: #fff;
    font-size: 12px;

}
.cabeçalho-link a:hover{
    color: #7ecc71;
    transition: 0,3s all;

}


button{
    color: #fff;
    background: transparent;
    border: solid 1px black;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    width: 150px;
    outline: transparent;
}

button:hover{
    background-color: #2ecc71;
    color: #fff;
} 

.container-text{
    padding: 150px 0 0 130px;
}

.text h3{
    color: #fff;
    font-size: 15px;
}

.text h1{
    color: #fff;
    margin-top: 10px;
}

.text span{
    color: #fff;
    text-decoration: underline;
}

.text p{
    color: #fff;
    font-size: 20px;
}

.redes-sociais a{
      color:#2ecc71;
      padding: 50px; 
      margin-top: 5px;
}

.btn{
   margin-top: 10px;
  
}

.text{
    width: 700px;
    height: 700px;
    text-align: justify;

}

.redes-sociais{
    display: inline-block;
    align-items: center;
    text-align: center;

}

.redes-sociais i{
    color:  #40573c;
    font-size: 25px;
    margin-top: 10px;
}

.container{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 2;
    justify-content: space-around;
    
}

.foto img{
    width: 80%;
    border-radius: 10px;
}

footer{
    width: 100%;
    height: 100%;
    margin-top: 0rem;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    justify-content: space-around;
}

.text-h4{
    margin-top: 10px;
    color: #40573c;

}